##github actions
name: "Gitops IAC"
on:
  push:
    branches:
      - main
      - stage
    paths:
      - terraform/**
      - .github/workflows/**
  pull_request:
    branches:
      - main
    paths:
      - terraform/**

env:
  #credentials for AWS account
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  #S3 bucket for the terraform state
  BUCKET_TF_STATE: ${{ secrets.BUCKET_TF_STATE }}
  AWS_REGION: ap-southeast-2
  EKS_CLUSTER: gitops
jobs:
  terraform:
    name: "Apply terraform code changes"
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ./terraform

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Debug AWS env
        run: |
          echo "AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}"
          echo "AWS_SECRET_ACCESS_KEY length: ${#AWS_SECRET_ACCESS_KEY}"
        shell: bash

      - name: Set up Terraform version
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.6.3
      - name: Terraform init
        id: init
        run: terraform init -backend-config="bucket=${{ env.BUCKET_TF_STATE }}"
      - name: Terraform format
        id: fmt
        run: terraform fmt -check
      - name: Terraform plan
        id: plan
        run: terraform plan -no-color -input=false -out planfile
        continue-on-error: true
      - name: Terraform plan status
        id: status
        run: exit 0
